<ion-content  color="primary">
  <div class="menu">
    <form  #form="ngForm" (ngSubmit)="register(form)">
      <p class="cim">Regisztráció</p>
      <ion-item>
        <ion-input  name="name" type="text" placeholder="név" ngModel required></ion-input>
      </ion-item>
      <ion-item>
        <ion-input name="email" type="email" placeholder="valami@email.com" ngModel required></ion-input>
      </ion-item>
      <ion-item>
        <ion-input name="password" type="password" placeholder="jelszó" ngModel required></ion-input>
      </ion-item>
      <ion-item>
        <ion-input name="confirm" type="password" placeholder="jelszó megerősítése" ngModel required></ion-input>
      </ion-item>
      <ion-button  size="large" type="submit" [disabled]="form.invalid" expand="block">Regisztráció</ion-button>
    </form>
  </div>
</ion-content>