<ion-content class="home">

  <ion-card class="firstCard">
    <ion-card-header>
      <ion-card-title>Első játék</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <img (click)='firstGame()' src="assets/firstgame.png"/>
    </ion-card-content>
  </ion-card>

  <ion-card class="secondCard">
    <ion-card-header>
      <ion-card-title>Második játék</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <img (click)='secondGame()' src="assets/masodik.png"/>
    </ion-card-content>
  </ion-card>

  <ion-card class="thirdCard">
    <ion-card-header>
      <ion-card-title>Harmadik játék</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <img (click)='thirdGame()' src="assets/harmadik.png"/>
    </ion-card-content>
  </ion-card>

  <ion-card class="downloadData">

    <ion-card-content>
      <ion-button (click)="downloadAllTest()">Korábbi eredmények letöltése</ion-button>
    </ion-card-content>

  </ion-card>

  <ion-card class="stressScale">

    <ion-card-content>
      <ion-input type="number" min="0" max="10" placeholder="0-10" (ionChange)=stress($event.detail.value)>Stressz szint:</ion-input>
    </ion-card-content>

  </ion-card>

  <ion-card class="tiredScale">

    <ion-card-content>
      <ion-input type="number" min="0" max="10" placeholder="0-10" (ionChange)=tired($event.detail.value)>Fáradtság szint:</ion-input>
    </ion-card-content>

  </ion-card>

  <ion-card class="logout">

    <ion-card-content>
      <ion-button (click)="logout()">Kijelentkezés</ion-button>
    </ion-card-content>

  </ion-card>

</ion-content>