.firstCard {
    width: 30%;
    text-align: center;
    position: absolute;
    left: 0%
}
.secondCard {
    width: 30%;
    text-align: center;
    position: absolute;
    left: 34%
}
.thirdCard {
    width: 30%;
    text-align: center;
    position: absolute;
    left: 68%;
}

.home {
    background-color: #8d8d8d;
}