<ion-content class="home">

  <ion-card class="firstCard">
    <ion-card-header>
      <ion-card-title>Első játék</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <img (click)='firstGame()' src="assets/firstgame.png"/>
    </ion-card-content>
  </ion-card>

  <ion-card class="secondCard">
    <ion-card-header>
      <ion-card-title>Második játék</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <img (click)='secondGame()' src="assets/masodik.png"/>
    </ion-card-content>
  </ion-card>

  <ion-card class="thirdCard">
    <ion-card-header>
      <ion-card-title>Harmadik játék</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <img (click)='thirdGame()' src="assets/harmadik.png"/>
    </ion-card-content>
  </ion-card>
</ion-content>